<suite name="Video gallery">
    <test name="Test suit">
        <classes>
            <class name="AddDifferentVideoToProductTest" />
            <class name="Gallery_VerticalViewTest" />
            <class name="Gallery_HorizontalViewTest" />
            <class name="NoGallery_HorizontalViewTest" />
            <class name="NoGallery_VerticalViewTest" />
        </classes>
    </test>
</suite>