<suite name="Video gallery">
    <test name="Test suit">
        <classes>
            <class name="PreConditions_ConfigurationsTest" />
            <class name="AddDifferentVideoToProductTest" />
            <class name="Vertical_TemplatesOfProductPageTest" />
            <class name="Horizontal_TemplatesOfProductPageTest" />
            <class name="NoGallery_HorizontalViewTest" />
            <class name="NoGallery_VerticalViewTest" />
        </classes>
    </test>
</suite>